/* ===================================== 
   Search Bar
======================================== */
input#search { display: flex; height: 60px; width: 40%; padding: 15px; margin-left: 30%; justify-content: center; margin-bottom: 30px; }

/* ===================================== 
   Grid Layout
======================================== */
.gallery { max-width: 1500px; display: grid; align-self: center; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 15px; margin-left: 8%; margin-right: 8%; }

* { box-sizing: border-box; font-family: 'Quicksand', sans-serif; }

html { font-size: 18px; }

input:hover, textarea:hover, select:hover { border: solid black; }

::placeholder { color: lightslategray; font-size: 14px; font-style: italic; padding: 2px; }
