/* ===================================== 
   Grid Layout
======================================== */
.gallery {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

input#search {
    height: 60px;
    width: 40%;
    padding: 15px;
    margin-left: 30%;
    margin-bottom: 30px;
}