/* ===================================== 
   Grid Layout
======================================== */
.gallery {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    margin-left: 15%;
    margin-right: 8%;
  }

